.about-container{
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    grid-template-rows: 1fr 0.5fr ;
    gap: 2em 2em;
    grid-template-areas:
        "a c"
        "b c";
}

.nav ul{
    display: flex;
    align-items: stretch; 
    & li{
        width: 50vw;
        padding: 30px;
        border: solid #2a71d0 2px;
        text-align: center;
        background-color: white;
        font-size: 26px;
        & a{
            color: #2a71d0;
        }
        &:nth-child(2){
            background-color: #2a71d0;
            & a{
                color: white
            }
        }
    } 
}

.secondary-nav{
    grid-area: a;
    padding-top: 0.75em;
    padding-left: 2em;
    font-size: 24px;
    & .title{
        font-weight: 800;
        color: white;
        background-color: #2a71d0;
        padding: 0.8em
    }
    & .menu-item{
        border: solid #2a71d0 2px;
    }
    & li{
        cursor: pointer;
        max-height: 1.2em;
        overflow: hidden;
        
        & ul{
            margin-inline-start: 25px;
            border: none;
        }
    }
    & .visible{
        max-height: fit-content;
        transition: 0.8s ease-in;
    }
}

.text{
    grid-area: c;
    text-align: center;
    margin-top: .5em
}

.logo{
    grid-area: b
}

@media(max-width: 700px){
    .about-container{
        display: block
    }
}